# Database Configuration
DB_HOST='ENTER YOUR DB HOST HERE'
DB_USER='ENTER YOUR DB USER HERE'
DB_PASSWORD='ENTER YOUR DB PASSWORD HERE'
DB_NAME='ENTER YOUR DB NAME HERE'
DB_PORT='ENTER YOUR DB PORT HERE'
# Server Configuration
PORT='ENTER YOUR SERVER PORT HERE'